<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do list</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<!-- 
    <%- include("header") -%>    
 -->
<img src="https://media.istockphoto.com/id/1127929107/vector/welcome-lettering-sign-isolated-vector.jpg?s=612x612&w=0&k=20&c=kH2mqRoV8-1vutUYwGhdpzx-Wt24Gbq7Oz0sKxZcBWU=" alt="Welcome">
<h2 >This is about page of To-Do list website.</h2>
<p style="text-align: center; margin-right: 200px; margin-left: 200px;">
    This is the To-Do list website.It seems a small to make rule in life but if you practice it every day,one day you will acheive what you want in your life.This is the motive of making to do list.Making to do list take you a step forward toward tou goal.Every one has a goal in their life but these days it is very difficult that anyone can stick to their own set of rule,so it better to make to list every day so that it give you a hint to what you have to do today and set your reminder.It is great honours for us to be one of the thing that help you stick on your daily rule and take you to a great success in your career.
</p>
<%- include("footer") -%>